{{#if error}}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>
{{/if}}
{{#if success}}
<div class="alert alert-success" role="alert">
    {{success}}
</div>
{{/if}}
<hr>
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10">
            <h1>{{profile.UserName}}</h1>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->


            <div class="text-center">
                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail"
                    alt="avatar">
                <h6>Chọn một hình ảnh khác...</h6>
                <input type="file" class="text-center center-block file-upload">
            </div>
            </hr><br>


            <div class="panel panel-default">
                <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
                <div class="panel-body"><a href="/">DoAnCuoiKy.com</a></div>
            </div>


            {{!-- <ul class="list-group">
            <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
          </ul>  --}}

            {{!-- <div class="panel panel-default">
            <div class="panel-heading">Social Media</div>
            <div class="panel-body">
            	<i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
            </div>
          </div> --}}

        </div>
        <!--/col-3-->

        <div class="col-sm-9">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#info" role="tab">Thông tin cá nhân</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#matkhau" role="tab">Mật khẩu</a>
                </li>

                
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="info" role="tabpanel">
                    <div class="card-body">

                        <form class="form" action="/account/profile/info" method="post" id="registrationForm">
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="first_name">
                                        <h4>Họ và tên</h4>
                                    </label>
                                    <input type="text" value="{{profile.FullName}}" class="form-control" name="first_name"
                                        id="first_name" placeholder="first name" title="enter your first name if any.">
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="phone">
                                        <h4>Điện thoại</h4>
                                    </label>
                                    <input type="text" value="{{profile.Phone}}" class="form-control" name="phone"
                                        id="phone" placeholder="enter phone" title="enter your phone number if any.">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="email">
                                        <h4>Email</h4>
                                    </label>
                                    <input type="email" value="{{profile.Email}}" class="form-control" name="email"
                                        id="email" placeholder="you@email.com" title="enter your email.">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="DOB">
                                        <h4>Date Of Birth</h4>
                                    </label>
                                    <input type="text" value="{{profile.BirthDay}}" name="DOB" class="form-control"
                                        id="DOB" placeholder="dd-mm-yyyy" title="enter a location">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <br>
                                    <button class="btn btn-lg btn-success" type="submit"><i
                                            class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

                <div class="tab-pane " id="matkhau" role="tabpane2">
                    <div class="card-body">
                        <form class="form" action="/account/profile/changepassword" method="post" id="registrationForm">
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="location">
                                        <h4>Mật khẩu hiện tại</h4>
                                    </label>
                                    <input type="password" class="form-control" required="" name="password"
                                        id="location" title="enter your first name if any.">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="location">
                                        <h4>Mật khẩu mới</h4>
                                    </label>
                                    <input type="password" class="form-control" required="" name="newpassword"
                                        id="location" title="enter your first name if any.">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="location">
                                        <h4>Xác nhận mật khẩu mới</h4>
                                    </label>
                                    <input type="password" class="form-control" required="" name="confirmnewpassword"
                                        id="location" title="enter your first name if any.">
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-xs-12">
                                    <br>
                                    <button class="btn btn-lg btn-success" type="submit"><i
                                            class="glyphicon glyphicon-ok-sign"></i> Save</button>

                                </div>
                            </div>
                        </form>


                    </div>
                </div>
           
            </div>
        </div>
        <!--/tab-content-->

    </div>
    <!--/col-9-->
</div>
<!--/row-->
 <script src="/js/profile.js"></script>






<!--/tab-pane-->