<tr class="text-center" id='row_{{{Id}}}'>
    <td class="checkbox-custom  ">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" name="checkrow" value="{{{product.Id}}}" class="custom-control-input delete-checkbox" id="checkbox">
            <label class="custom-control-label" for="checkbox">&nbsp;</label>
        </div>
    </td>
    <td class="text-center">{{{product.Name}}}</td>
    <td class="text-center">{{{product.Code}}}</td>
    
    <td class="text-center">{{{product.CategoryName}}}</td>
    <td class="text-center">{{{product.CreateDate}}}</td>
    <td class="text-center">{{{product.Quantity}}}</td>
    <td class="text-center">{{{product.Discount}}}</td>
    <td class="text-center">{{{product.PriceIn}}}</td>
        <td class="text-center">{{{product.PriceOut}}}</td>
    <td class=" text-center">
        <a data-toggle="modal" data-target="#add-quick-modal" data-id={{{product.Id}}} onclick="editSingle(this, '/admin/product/update/{{{product.Id}}}'  ,'table-body' )" href="javascript:void(0);"<i class="mdi mdi-pencil font-size-12"></i></a>
        <a href="javascript:void(0);" onclick="getOneObj(this)" data-id={{{product.Id}}} data-url='/admin/product/delete' data-flag='1' <i class="mdi mdi-close font-size-12"></i></a>
    </td>
</tr>